* {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

body {
  background-image: url("stars.jpg"); background-size: cover;
  font-family:"Segoe UI",Arial,sans-serif;
}

div.main_page {
  position: relative;
  display: table;

  width: 700px;

  margin-bottom: 3px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 0px 0px 0px;

  border-width: 2px;
  border-color: #212738;
  border-style: solid;

  background-color: #FFFFFF;

  text-align: center;
  opacity: 0.85;
}

div.page_header {
  height: 70px;
  width: 100%;
  background-color: white;
}

/*top blank part*/
div.content_section {
  margin: 3px 3px 3px 3px;

  background-color: #FFFFFF; /*top blank part color*/

  text-align: left;
}
/*top part font*/
div.content_section_text {
  padding: 4px 8px 4px 8px;

  color: #000000;
  font-size: 100%;
}

/*sub headers*/
div.section_header {
  padding: 3px 6px 3px 6px;
  background-color: #6495ED; /*sub headers coler*/

  /*header font color*/
  color: #FFFFFF;
  font-weight: bold;
  font-size: 112%;
  text-align: center;
  opacity: 0.75;
}

/*top go back text, floating*/
.floating_element {
  position: relative;
  float: left;
}

.navbar {
    overflow: hidden;
    background-color: #696969;
    position: bottom; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}
/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

.navbar a.active{
    background-color: #4CAF50;
    color: white;
}