body{
    background-image: url("../../static/bkg_img/whiteIndex.png");
    min-height:100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    font-family: terminal,courier,courier new;
    font-size: 1.2em;
    font-weight: bold;
}

.button {
    background-color: #87cefa;
    border: none;
    color: white;
    padding: 37px 96px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 0px 0px;
    cursor: pointer;
}

div 
{           
    background-color: #ffffff;
    position: relative;

    animation-name: floatingWelcome1;
    animation-duration: 1s;
    animation-iteration-count: 1;    
    animation-fill-mode: forwards; /* stop after finished animation*/
    animation-timing-function: ease-in-out;

    -webkit-animation-name: floatingWelcome1; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: 1; /* Safari 4.0 - 8.0 */
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    -webkit-animation-timing-function: ease-in-out;
}
/* Standard syntax */
@keyframes floatingWelcome1{
    0%   {background-color:white; left:100%; top:240px;}
    100% {background-color:#87cefa; left:20%; top:240px;}
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes floatingWelcome1{
    0%   {background-color:white; left:100%; top:240px;}
    100% {background-color:#87cefa; left:20%; top:240px;}
}
