<!DOCTYPE html>
<html>

<head>
  <title> Test Blog </title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" href="../static/favicon/alibaba.ico" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="../static/css/blog.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <div class="Google site tag">
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106734134-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());
      gtag('config', 'UA-106734134-1');
    </script>
  </div>

</head>

<body>
  <div class="header">
    <h>NGC1514 Blog</h>
  </div>

  <hr>

  <div class="row">
    <div class="leftcolumn">

      <div class="card">
        <h2> Plan for redesigning </h2>
        <h5> Jun 14th, 2021 </h5>
        <p> This ancient site needs some refreshing. <p>
      </div>

      <div class="card">
        <h2> The Birth of This Shitty Website </h2>
        <h5> Mar 15th, 2017 </h5>
        <p> This website was born. </p>
        <p> And it doesn't have a mom, only a poor dad. By poor dad, I mean myself. </p>
      </div>

    </div>

    <div class="rightcolumn">

      <div class="card">
        <h2> About Me </h2>
          <div class="card" style="line-height: 2;">
            a1d3n / NGC1514 <br/>
            ISTJ-T <br/>
            English/Chinese/Cantonese/Japanese <br/>
          </div>
      </div>


      <div class="card">
        <p> Nothing here </p>
      </div>

    </div>

    </div>

  </div>

  <br/>
  <br/>
  <hr>
  <div class="nav">
   <div class="navbar">
      <a href="../index.html" class="fa fa-home" ></a>
      <!-- <a href="https://www.linkedin.com/in/aiden-xie-452646160/" class="fa fa-linkedin"></a> -->
      <a href="https://github.com/ngc1514" class="fa fa-github"></a>
    </div>
  </div>

</body>
</html>
