<html>

<head>
  <title>Projects</title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" href="../static/favicon/alibaba.ico" type="image/x-icon" />
  <link rel='stylesheet' type="text/css" href="../static/css/main.css">

  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106734134-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments)};
    gtag('js', new Date());
    gtag('config', 'UA-106734134-1');
  </script>

</head>

<body>
  <div class="navbar">
    <a class="active" href="../index.html">Home</a>
    <a class="second" href="../templates/projects.html">Projects</a>
    <a href="https://github.com/ngc1514/IR-LCD">Source code on GitHub</a>
  </div>

  <hr>

  <div class="image">
    <center>
      <img src="../static/project_img/ircontrol.png" alt="ircontrol" align="middle">
    </center>
  </div>

</body>

</html>