<html>

<head>
  <title>Projects</title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" href="https://shesky17.github.io/static/favicon/alibaba.ico" type="image/x-icon" />
  <link rel='stylesheet' type="text/css" href="https://shesky17.github.io/static/css/main.css">

  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106734134-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments)};
    gtag('js', new Date());
    gtag('config', 'UA-106734134-1');
  </script>

  <script src="https://shesky17.github.io/static/js/restyle.js" ></script>

  <style>
    img {
      width: 40%;
      height: auto;
    }
  </style>
</head>

<body>
  <div class="navbar">
    <a class="active" href="https://shesky17.github.io/templates/home.html">Home</a>
    <a class="second" href="https://shesky17.github.io/templates/projects.html">Projects</a>
    <a href="#" onclick="restyle('white');">Bright Theme</a>
    <a href="#" onclick="restyle('dark');">Dark Theme</a>
    <a href="#" onclick="restyle('gray');">Gray</a>
    <a href="#" onclick="restyle('stars');">Stars</a>
    <a href="#" onclick="restyle('night');">Summer Nights</a>
  </div>

  <hr>

  <div class="image">
    <center>
      <!--      <img src="https://shesky17.github.io/static/project_img/box2.jpg" alt="Lunchbox">-->
      <img src="../static/project_img/box2.jpg" alt="Lunchbox">
    </center>
  </div>


</body>

</html>