<html>

<head>
    <title>Projects</title>

    <link rel="icon" href="../static/favicon/alibaba.ico" type="image/x-icon" />
    <link rel='stylesheet' type="text/css" href="../static/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <div class="Google site tag">
        <!-- Global Site Tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106734134-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments)};
            gtag('js', new Date());
            gtag('config', 'UA-106734134-1');
        </script>
    </div>

</head>

<body>
    <div class="header">
        <h>Projects</h>
      </div>
    <hr>

    <div>
        <center>
            <ul>
                <li>
                    <a href="https://github.com/ngc1514/sk17UMP9">UMP9 Minecraft 1.12.2 Mod </a>
                </li>
                <li>
                    <a href="https://github.com/ngc1514/aru-colle">Aru-Colle - My Shitcode Algorithm Collection </a>
                </li>
                <li>
                    <a href="https://github.com/ngc1514/Prototype-01">Prototype online multiplayer game </a>
                </li>
                <li>
                    <a href="https://github.com/ngc1514/GFL-max-stats-helper">GFL max stats lookup tool </a>
                </li>
                <li> 
                    <a href="https://github.com/ngc1514/SimpleGenetic">A simple genetic algorithm </a>
                </li>
                <li>
                    <a href="../templates/lunchbox.html">Raspberry Pi lunch box </a>
                </li>
                <li> 
                    <a href="../templates/LCDwithLED.html">Arduino IR Control LED with LCD timer </a>
                </li>
                <li>
                    <a href="../templates/servo.html"> Control a servo motor with an Arduino and a joystick? </a>
                </li>
                <li>
                    <a> 6 Axis Arm Prototype (Under construction) </a>
                </li>
    
            </ul>
        </center>
    </div>
    

    <br/>
    <br/>
    <hr>
    <div class="nav">
     <div class="navbar">
        <a href="../index.html" class="fa fa-home" ></a>
        <a href="https://www.linkedin.com/in/aiden-xie-452646160/" class="fa fa-linkedin"></a>
        <a href="https://github.com/ngc1514" class="fa fa-github"></a>
      </div>
    </div>

</body>

</html>