<html>

<head>
    <title>Projects</title>

    <link rel="icon" href="https://shesky17.github.io/static/favicon/alibaba.ico" type="image/x-icon" />
    <link rel='stylesheet' type="text/css" href="https://shesky17.github.io/static/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <div class="Google site tag">
        <!-- Global Site Tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106734134-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments)};
            gtag('js', new Date());
            gtag('config', 'UA-106734134-1');
        </script>
    </div>

    <script src="https://shesky17.github.io/static/js/restyle.js" ></script>
</head>

<body onload="startTime();">
    <h1 align="center"> Projects </h1>

    <div class="navbar">
        <a class="active" href="https://shesky17.github.io/templates/home.html">Home</a>
        <a href="#" onclick="restyle('white');">Bright Theme</a>
        <a href="#" onclick="restyle('dark');">Dark Theme</a>
        <a href="#" onclick="restyle('gray');">Gray</a>
        <a href="#" onclick="restyle('stars');">Stars</a>
        <a href="#" onclick="restyle('night');">Summer Nights</a>
        <a href="https://twitter.com/shesky17" class="fa fa-twitter"></a>
        <a href="https://www.linkedin.com/in/aiden-xie-452646160/" class="fa fa-linkedin"></a>
    </div>

    <hr>

    <center>
        <ul>
            <li> 
                <a href="https://shesky17.github.io/templates/lunchbox.html">Raspberry Pi lunch box </a>
            </li>
            <li> 
                <a href="https://shesky17.github.io/templates/LCDwithLED.html">Arduino IR Control LED with LCD timer </a>
            </li>
            <li> 
                <a href="https://shesky17.github.io/templates/servo.html"> Control a servo motor with an Arduino and a joystick? </a>
            </li> 
            <li> 
                <a> Project CRIME (Under construction) </a>
            </li> 
            <li> 
                <a> Project Face (Under construction) </a>
            </li> 
            <li> 
                <a> 6 Axis Arm Prototype (Under construction) </a>
            </li>
        </ul>
    </center>

    <hr>

    <!-- load clock and displayTimeMessage javascript -->
    <div class = "clock">
        <script type="text/javascript" src="https://shesky17.github.io/static/js/startTime.js"> </script>
    </div>
    <div class ="msg">
        <script type="text/javascript" src="https://shesky17.github.io/static/js/displayTimeMessage.js"> </script>
    </div>

    <div class = "timeMessage">
        <center>
            <font size="4" color="black"> ↓ It is now ↓ </font> <br>
            <font id="clock" size='4' color='black'> </font> <br>
            <font id="msg" size="3" color="black"> </font>
            <script>
                displayMessage();
            </script>
        </center>
    </div>

    <hr>

    <div id='credit'>
    </div>
</body>

</html>